.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-width: auto;
  align-self: center;
  min-height: auto;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container01 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.home-text {
  font-size: 3rem;
  max-width: 450px;
}
.home-text01 {
  width: 100%;
  font-size: 1.8rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 400;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-link {
  font-style: normal;
  transition: 0.3s;
  font-weight: 700;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.home-link01 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: transparent;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link01:hover {
  border-color: var(--dl-color-gray-black);
}
.home-image {
  width: 400px;
  object-fit: cover;
}
.home-banner {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-text05 {
  color: var(--dl-color-gray-500);
  font-size: 1.2rem;
  text-align: center;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 0px;
}
.home-steps {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-text06 {
  color: var(--dl-color-gray-black);
  display: none;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
}
.home-text07 {
  color: var(--dl-color-gray-700);
  display: none;
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-step {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.home-line {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container04 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.home-text10 {
  color: var(--dl-color-gray-black);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}
.home-line1 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-image1 {
  width: var(--dl-size-size-large);
  margin: var(--dl-space-space-unit);
  padding: 0px;
  object-fit: cover;
}
.home-container05 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text11 {
  color: var(--dl-color-gray-500);
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.25;
}
.home-step1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.home-line2 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container07 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.home-text14 {
  color: var(--dl-color-gray-black);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}
.home-line3 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-image2 {
  width: var(--dl-size-size-large);
  margin: var(--dl-space-space-unit);
  object-fit: cover;
}
.home-container08 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text15 {
  color: var(--dl-color-gray-500);
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.25;
}
.home-step2 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.home-line4 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container10 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.home-text18 {
  color: var(--dl-color-gray-black);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}
.home-line5 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-image3 {
  width: var(--dl-size-size-large);
  padding: 0px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
}
.home-container11 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text19 {
  color: var(--dl-color-gray-500);
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.25;
}
.home-step3 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.home-line6 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-container13 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.home-text22 {
  color: var(--dl-color-gray-black);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
}
.home-line7 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.home-image4 {
  width: var(--dl-size-size-large);
  padding: 0px;
  margin-top: var(--dl-space-space-unit);
  object-fit: cover;
}
.home-container14 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.home-text23 {
  color: var(--dl-color-gray-500);
  width: auto;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.25;
}
.home-banner1 {
  gap: 1rem;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-primary-2);
}
.home-text26 {
  color: var(--dl-color-gray-white);
  margin: 0Unit;
  font-size: 3rem;
  text-align: center;
}
.home-text27 {
  color: var(--dl-color-gray-white);
}
.home-container15 {
  flex: 0 0 auto;
  width: 100%;
  margin: 0px;
  display: flex;
  align-items: flex-start;
}
.home-container16 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-icon {
  width: 24px;
  height: 24px;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.home-container17 {
  flex: 1;
  color: var(--dl-color-gray-white);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text30 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
}
.home-text31 {
  color: var(--dl-color-gray-white);
}
.home-container18 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-icon02 {
  width: 24px;
  height: 24px;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
.home-container19 {
  flex: 1;
  color: var(--dl-color-gray-white);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text32 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
}
.home-text33 {
  color: var(--dl-color-gray-white);
  margin-bottom: 0.25rem;
}
.home-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0.25rem;
  align-items: flex-start;
  margin-bottom: 0.25rem;
}
.home-icon04 {
  width: 24px;
  height: 24px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.home-text36 {
  color: var(--dl-color-gray-white);
}
.home-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 0.25rem;
  align-items: flex-start;
  margin-bottom: 0.25rem;
}
.home-icon06 {
  width: 24px;
  height: 24px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.home-text39 {
  color: var(--dl-color-gray-white);
}
.home-container22 {
  flex: 0 0 auto;
  width: 100%;
  margin: 0px;
  display: flex;
  align-items: flex-start;
}
.home-container23 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-icon08 {
  width: 24px;
  height: 24px;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
.home-container24 {
  flex: 1;
  color: var(--dl-color-gray-white);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
}
.home-text42 {
  color: var(--dl-color-gray-white);
  margin-bottom: 0.25rem;
}
.home-ul {
  margin-top: 0.25rem;
  list-style-type: disc;
}
.home-li {
  color: var(--dl-color-gray-white);
}
.home-text45 {
  color: var(--dl-color-gray-white);
}
.home-link02 {
  text-decoration: underline;
}
.home-container25 {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-icon10 {
  width: 24px;
  height: 24px;
  margin-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.home-container26 {
  flex: 1;
  color: var(--dl-color-gray-white);
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text47 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
}
.home-text48 {
  color: var(--dl-color-gray-white);
}
.home-banner2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-text49 {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
  text-align: center;
}
.home-text50 {
  color: var(--dl-color-gray-black);
  margin: var(--dl-space-space-twounits);
  max-width: 50rem;
  text-align: left;
}
.home-button {
  display: none;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-button:hover {
  transform: scale(1.02);
}
.home-banner3 {
  gap: 1rem;
  width: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.home-heading1 {
  font-size: 3rem;
  text-align: center;
}
.home-heading2 {
  font-size: 1.8rem;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.home-container27 {
  gap: 1rem;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.home-link03 {
  display: flex;
  padding: 1rem;
  transition: 0.3s;
  margin-left: 0rem;
  margin-right: 0rem;
  flex-direction: row;
  text-decoration: none;
}
.home-link03:hover {
  transform: scale(1.02);
}
.home-icon12 {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}
.home-icon14 {
  width: 24px;
  height: 24px;
  margin-left: 1rem;
}
.home-link04 {
  display: flex;
  padding: 1rem;
  transition: 0.3s;
  margin-left: 0rem;
  margin-right: 0rem;
  flex-direction: row;
  text-decoration: none;
}
.home-link04:hover {
  transform: scale(1.02);
}
.home-icon16 {
  width: 24px;
  height: 24px;
  margin-left: 0rem;
  margin-right: 1rem;
}
.home-icon18 {
  width: 24px;
  height: 24px;
  margin-left: 1rem;
}
.home-link05 {
  display: flex;
  padding: 1rem;
  transition: 0.3s;
  margin-left: 0rem;
  margin-right: 0rem;
  flex-direction: row;
  text-decoration: none;
}
.home-link05:hover {
  transform: scale(1.02);
}
.home-icon20 {
  width: 24px;
  height: 24px;
  margin-left: 0rem;
  margin-right: 1rem;
}
.home-icon22 {
  width: 24px;
  height: 24px;
  margin-left: 1rem;
}
.home-container28 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-ul1 {
  list-style-type: disc;
  list-style-image: none;
}
.home-li1 {
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.home-text64 {
  font-size: 18px;
  font-style: normal;
  font-family: Inter;
  font-weight: 600;
  line-height: 1.5;
  text-transform: none;
  text-decoration: none;
}
.home-link06 {
  text-decoration: underline;
}
.home-link07 {
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: underline;
}
.home-link08 {
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: underline;
}
.home-link09 {
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;
  text-decoration: underline;
}
.home-link10 {
  text-decoration: underline;
}
.home-banner4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-text70 {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
  text-align: center;
}
.home-navlink {
  color: var(--dl-color-gray-black);
  margin: var(--dl-space-space-twounits);
  max-width: 50rem;
  text-align: left;
  text-decoration: underline;
}
.home-banner5 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-primary-2);
}
.home-text71 {
  color: var(--dl-color-gray-white);
  font-size: 1.8rem;
  text-align: center;
}
.home-text72 {
  color: var(--dl-color-gray-white);
  margin: var(--dl-space-space-twounits);
  max-width: 50rem;
  text-align: left;
}
.home-link11 {
  text-decoration: underline;
}
.home-button1 {
  display: none;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-button1:hover {
  transform: scale(1.02);
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column;
  }
  .home-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-text {
    text-align: center;
  }
  .home-text01 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-text05 {
    text-align: center;
  }
  .home-text06 {
    text-align: center;
  }
  .home-text07 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text01 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-image {
    width: 80%;
  }
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-steps {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container02 {
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .home-step {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-container03 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .home-line1 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-container05 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-text11 {
    text-align: left;
  }
  .home-step1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-container06 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .home-line3 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-container08 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-text15 {
    text-align: left;
  }
  .home-step2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-container09 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .home-line5 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-container11 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-text19 {
    text-align: left;
  }
  .home-step3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .home-container12 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .home-line7 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .home-container14 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .home-text23 {
    text-align: left;
  }
  .home-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-banner2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-banner3 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-banner4 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-banner5 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-btn-group {
    flex-direction: column;
  }
  .home-link01 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .home-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-steps {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container02 {
    padding-left: 0px;
  }
  .home-container05 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container08 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container11 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container14 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container15 {
    flex-wrap: wrap;
  }
  .home-container22 {
    flex-wrap: wrap;
  }
  .home-banner2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-banner3 {
    width: 100%;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container27 {
    gap: 1rem;
    height: auto;
    flex-wrap: wrap;
    align-self: stretch;
    flex-direction: row;
  }
  .home-container28 {
    width: auto;
  }
  .home-banner4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-banner5 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
